<div class="big-container">    
    <div class="container">
        <div class="title-container">
            <p>تسجيل دخول</p>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="one-input">
                <input required placeholder="إسم المستخدم" id="email" name="email" type="email"  (keydown.enter)="onSubmit(f)" class="input-field" ngModel> 
            </div>
            <div class="one-input pw">
                <input required placeholder="كلمة السر" id="password" name="password" type="password"  (keydown.enter)="onSubmit(f)" class="input-field" ngModel>
            </div>
            <div class="submitbtn">
                <button type="submit" [disabled]="f.invalid" class="submit-btn btn-gradient" id="connexion">
                    <i class="fas fa-sign-in-alt"></i>
                    <p>تأكيد</p>
                </button>
            </div>
        </form>
        <div class="separation-container"><div class="separation"></div></div>
        <div class="submitbtn signup">
            <a (click)="onCreateAccount()" class="submit-btn btn-gradient" id="create-account">
                <i class="fas fa-user-plus"></i>
                <p>فتح حساب</p>
            </a>
        </div>
    </div> 
</div>
