.container{
    width: 100%;
    background: #20244D ;
    background: linear-gradient(90deg, #20244D  0%, #161731 50%, #111127 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-height{
    height: 100px;
}
.container-height2{
    height: 60px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 60px;
}
.logo-container img{
    max-height: 160px;
}
.logo-container .event-logo{
    max-height: 60px;
    margin-right: 25px;
}
.logo-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.logo-container2 img{
    max-height: 100px;
}
.logo-container2 .event-logo2{
    max-height: 38px;
    margin-right: 18px;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}