<nav *ngIf="updateIsOpen() && windowWidth>=1300">
    <ul>
        <li>
            <div class="menu-element">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0LPeybwzWSbTkkzEx-TrH1WTxWWj_66gxLEcBBRlRVfch6g/viewform?vc=0&c=0&w=1&flr=0">التقييم العام</a>

            </div>
        </li>
        <li (click)="itemClick('programme')" [ngClass]="{'active': isOpen[0]}">
            <div class="menu-element">
                <a>البرنامج</a>
                <img [src]="imgFolder+ 'agenda.png'" alt="agenda">
            </div>
        </li>
        <li (click)="itemClick('agenda')" [ngClass]="{'active': isOpen[1]}">
            <div class="menu-element">
                <a>جدول الأعمال</a>
                <img [src]="imgFolder+ 'agenda.png'" alt="agenda">
            </div>
        </li>
        <li (click)="itemClick('monqrcode')" [ngClass]="{'active': isOpen[2]}">
            <div class="menu-element">
                <a>QRCode</a>
                <img [src]="imgFolder+ 'CODE.png'" alt="CODE">
            </div>
        </li>
        <li (click)="itemClick('reclamation')" [ngClass]="{'active': isOpen[3]}">
            <div class="menu-element">
                <a>تبليغ</a>
                <img [src]="imgFolder+ 'PROPOSITIONS.png'" alt="PROPOSITIONS">
            </div>
        </li>
        <li (click)="itemClick('changementpw')" [ngClass]="{'active': isOpen[4]}">
            <div class="menu-element">
                <a>تغيير كلمة السر</a>
                <img [src]="imgFolder+ 'MON COMPTE.png'" alt="MON COMPTE">
            </div>
        </li>
        <li (click)="itemClick('deconnexion')" [ngClass]="{'active': isOpen[5]}">
            <div class="menu-element">
                <a> الخروج</a>
                <img [src]="imgFolder+ 'MON COMPTE.png'" alt="MON COMPTE">
            </div>
        </li>
        <li *ngIf="username=='admin'" (click)="itemClick('presence')" [ngClass]="{'active': isOpen[6]}">
            <div class="menu-element">
                <a>حضور</a>
                <img [src]="imgFolder+ 'CODE.png'" alt="CODE">
            </div>
        </li>
    </ul>
</nav>
<div *ngIf="windowWidth<1300" class="responsive-container">
    <i [ngClass]="{'fas': true,
                    'fa-bars' : !isOpenResMenu,
                    'fa-times' : isOpenResMenu}" 
        (click)="openCloseResMenu()">
    </i>
    <nav *ngIf="isOpenResMenu" id="responsive-menu" 
         [ngStyle]="{'width': windowWidth+'px', 'height': windowHeight+'px' }">
        <ul>
            <li>
                <div class="menu-element">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0LPeybwzWSbTkkzEx-TrH1WTxWWj_66gxLEcBBRlRVfch6g/viewform?vc=0&c=0&w=1&flr=0">التقييم العام</a>
    
                </div>
            </li>
            <li (click)="itemClick('programme')" [ngClass]="{'active': isOpen[0]}">
                <div class="menu-element">
                    <a>البرنامج</a>
                    <img [src]="imgFolder+ 'agenda.png'" alt="agenda">
                </div>
            </li>
            <li (click)="itemClick('agenda')" [ngClass]="{'active': isOpen[1]}">
                <div class="menu-element">
                    <a>جدول الأعمال</a>
                    <img [src]="imgFolder+ 'agenda.png'" alt="agenda">
                </div>
            </li>
            <li (click)="itemClick('monqrcode')" [ngClass]="{'active': isOpen[2]}">
                <div class="menu-element">
                    <a>QRCode</a>
                    <img [src]="imgFolder+ 'CODE.png'" alt="CODE">
                </div>
            </li>
            <li (click)="itemClick('reclamation')" [ngClass]="{'active': isOpen[3]}">
                <div class="menu-element">
                    <a>تبليغ</a>
                    <img [src]="imgFolder+ 'PROPOSITIONS.png'" alt="PROPOSITIONS">
                </div>
            </li>
            <li (click)="itemClick('changementpw')" [ngClass]="{'active': isOpen[4]}">
                <div class="menu-element">
                    <a>تغيير كلمة السر</a>
                    <img [src]="imgFolder+ 'MON COMPTE.png'" alt="MON COMPTE">
                </div>
            </li>
            <li (click)="itemClick('deconnexion')" [ngClass]="{'active': isOpen[5]}">
                <div class="menu-element">
                    <a> الخروج</a>
                    <img [src]="imgFolder+ 'MON COMPTE.png'" alt="MON COMPTE">
                </div>
            </li>
            <li *ngIf="username=='admin'" (click)="itemClick('presence')" [ngClass]="{'active': isOpen[6]}">
                <div class="menu-element">
                    <a>حضور</a>
                    <img [src]="imgFolder+ 'CODE.png'" alt="CODE">
                </div>
            </li>
        </ul>
    </nav>
</div>