<div class="big-container">    
    <div class="container">
        <div class="title-container">
            <p>سجل الان</p>
        </div>
        <form #f="ngForm" (ngSubmit)="onCreateAccount(f)">
            <div class="one-input">
                <input required placeholder="الإسم واللقب" id="nom" name="nom" type="text" class="input-field" ngModel> 
            </div>
            <div class="one-input">
                <input required placeholder="إسم المستخدم" id="email" name="email" type="email" class="input-field" ngModel> 
            </div>
            <div class="one-input">
                <input required placeholder="كلمة السر" id="password" name="password" type="password" class="input-field" ngModel>
            </div>
            <div class="one-input">
                <input required placeholder="تأكيد كلمة السر" id="passwordc" name="passwordc" type="password" class="input-field" ngModel>
            </div>
            <div class="submitbtn signup">
                <button type="submit" [disabled]="f.invalid" class="submit-btn btn-gradient" id="create-account">
                    <i class="fas fa-user-plus"></i>
                    <p>فتح حساب</p>
                </button>
            </div>
        </form>
    </div> 
</div>
