::ng-deep .movie-tooltip .head {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 25px;
}
::ng-deep .movie-tooltip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::ng-deep .movie-tooltip .head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
::ng-deep .movie-tooltip .head .note{
    color: var(--navigation-disabled-btn-bg);
}
::ng-deep .movie-tooltip .body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::ng-deep .movie-tooltip .body form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::ng-deep .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

::ng-deep .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 10px;
}

::ng-deep .showtime-preview > div:first-child {
    font-size: 12px;
    white-space: normal;
}

::ng-deep .showtime-preview > div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}