<div class="container">
    <div class="scanner">
        <label for="session"> الرجاء اختيار جلسة </label>
        <dx-list 
            class="session"
            #list
            selectionMode="single"
            [dataSource]="allSession"
            height="600"
            width="70%" 
            [searchEnabled]="true"
            [scrollByContent]="true"
            searchExpr="name"
            searchMode="contains"
            pageLoadMode="scrollBottom"
            (onSelectionChanged)="onSelectionChanged(list.selectedItemKeys)">
                <div *dxTemplate="let data of 'item'">
                    <div class="no-selection">{{data.name}} | {{data.details}}</div>
                </div>
        </dx-list>
        
        <button class="submit-btn btn-gradient" (click)="onClickPresence1()">تسجيل حضور لجلسة</button>
    </div>
</div>