<div class="container">
    <img [src]="imgFolder+'ipc2021-01-min.png'" alt="ipc2021-01">
    <img [src]="imgFolder+'ipc2021-02-min.png'" alt="ipc2021-02">
    <img [src]="imgFolder+'ipc2021-03-min.png'" alt="ipc2021-03">
    <img [src]="imgFolder+'ipc2021-04-min.png'" alt="ipc2021-04">
    <img [src]="imgFolder+'ipc2021-05-min.png'" alt="ipc2021-05">
    <img [src]="imgFolder+'ipc2021-06-min.png'" alt="ipc2021-06">
    <img [src]="imgFolder+'ipc2021-07-min.png'" alt="ipc2021-07">
    <img [src]="imgFolder+'ipc2021-08-min.png'" alt="ipc2021-08">
    <img [src]="imgFolder+'ipc2021-09-min.png'" alt="ipc2021-09">
    <img [src]="imgFolder+'ipc2021-10-min.png'" alt="ipc2021-10">
    <img [src]="imgFolder+'ipc2021-11-min.png'" alt="ipc2021-11">
    <img [src]="imgFolder+'ipc2021-12-min.png'" alt="ipc2021-12">
    <img [src]="imgFolder+'ipc2021-13-min.png'" alt="ipc2021-13">
    <img [src]="imgFolder+'ipc2021-14-min.png'" alt="ipc2021-14">
    <img [src]="imgFolder+'ipc2021-15-min.png'" alt="ipc2021-15">
    <img [src]="imgFolder+'ipc2021-16-min.png'" alt="ipc2021-16">
    <img [src]="imgFolder+'ipc2021-17-min.png'" alt="ipc2021-17">
    <img [src]="imgFolder+'ipc2021-18-min.png'" alt="ipc2021-18">
    <img [src]="imgFolder+'ipc2021-19-min.png'" alt="ipc2021-19">
    <img [src]="imgFolder+'ipc2021-20-min.png'" alt="ipc2021-20">
    <img [src]="imgFolder+'ipc2021-21-min.png'" alt="ipc2021-21">

</div>