.container{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img{
    margin: 20px;
    width: 100%;
}
.container img:first-child{
    margin-top: 0px;
}
.container img:last-child{
    margin-bottom: 0px;
}